<div class="container">
  <h3 mat-dialog-title>Shortest Path</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="SelectedVertex" [(ngModel)]="data.selectedVertex" name="selectedVertex" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
    <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="SelectedVertexName" [(ngModel)]="data.selectedVertexName" name="selectedVertexName" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="VertexId" [(ngModel)]="data.vertexId" name="vertexId" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="VertexName" [(ngModel)]="data.vertexName" name="vertexName" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

  
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="findShortestPath()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
